{% extends "base.html" %}
{% block title %}Combining ChatGPT and Keyword Search Tool{% endblock %}

{% set checked='checked' %}
{% if ( result["prompt"] and result["prompt"]=='NO' ) %}
  {% set checked='' %}
{% endif %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
<div class="container-fluid p-5 bg-primary text-white text-center">
  <h1>Combining ChatGPT and Keyword Search Tool</h1>
</div>

<div class="container" style="margin-top:50px">

  <form action="/" method="post">
    <div class="row">
      <div class="col-sm-8">
       
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" name="optPrompt" role="switch" id="optPrompt" {{ checked }}>
          <label class="form-check-label" for="optPrompt">Using promt with context information</label>
        </div>

        <div class="mb-3">
          <label for="userInput" class="form-label">Enter the input</label>
          <input type="text" class="form-control" id="userInput" name="userInput" >
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="submit" class="btn btn-primary mb-3">Search</button>
        </div>
      </div>
    
  </div>
  {% if result %}
  <h3>{{ result["final_message"] }}</h3>
  {% if result["success"] %}
  <div class="row" style="margin-top:50px">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          <b>User Input:</b> "{{ result["user_input"] }}"
        </div>
        <div class="card-body">
          <p class="card-text"><b>Using promt with context information:</b> {{ result["prompt"] }}</p>
          <p class="card-text"><b>Extracted Keywords:</b> {{ result["keywords"] }}</p>
          <p class="card-text"><b>ChatGPT asked for KwS:</b> {{ result["chatgpt_asked_kws"] }}</p>
          <p class="card-text"><b>KwS answered the query:</b> {{ result["kws_response"] }}</p>
          <p class="card-text"><b>ChatGPT Response:</b> {{ result["chatgpt_response"] }}</p>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endif %}


</div>

{% endblock %}